<nav class="mainNav">
    <ul>
        <li><a href="/">INICIO</a></li>
        <li><a href="/endpoints">ENDPOINTS</a></li>
    </ul>
</nav>
<div class="logosContainer">
    <img src="../assets/img/node.png" alt="Logo de Node.js" class="logos">
    <img src="../assets/img/express.webp" alt="Logo de mysql" class="logos">
    <img src="../assets/img/MySQL-logo.png" alt="Logo de mysql" class="logos">
</div>
<br>