<nav class="mainNav">
    <ul>
        <li><a href="/">INICIO</a></li>
        <!-- <li><a href="/endpoints">ENDPOINTS</a></li> -->
        <li><a href="/help-alumnos">/alumnos</a></li>
        <li><a href="/help-materias">/materias</a></li>
        <li><a href="/help-profesores">/profesores</a></li>
        <li><a href="/help-notas">/notas</a></li>
    </ul>
</nav>