<nav class="mainNav">
    <ul>
        <li><a href="/">INICIO</a></li>
        <li><a href="/endpoints">ENDPOINTS</a></li>
        <!-- <li><a href="/alumnos">/alumnos</a></li>
        <li><a href="/materias">/materias</a></li>
        <li><a href="/profesores">/profesores</a></li>
        <li><a href="/notas">/notas</a></li> -->
    </ul>
</nav>