:root{
    font-size: 16px;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #e7e7e7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
main{
    margin: 1rem auto;
    background-color: white;
    padding: 1rem;
    max-width: 1000px;
}
.mainNav{
    color: aliceblue;
    background-color: black;
}
.mainNav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mainNav li{
    all: unset;
}
.mainNav a{
    color: aliceblue;
    text-decoration: none;
}
a{
    color: rgb(14, 79, 219);
}
a:hover{
    color: tomato;
}
.logosContainer{
    display: flex;
    justify-content: space-around;
    background: aliceblue;
    border-radius: 10px;
}
.logos{
    width: 80px;
    height: 45px;
}
h1{
    width: fit-content;
    margin: 0 auto;
}
blockquote{
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
}
.alert{
    border: 1px solid orange;
    background: rgba(255, 166, 0, 0.1);
}
.quoteCode{
    background: rgba(189, 189, 189, 0.4);
}
.red{
    color: red;
}