<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/index.css">
    <title>Document</title>
</head>
<body>
    <main>
        <%- include('partials/nav')%>
        <div class="logosContainer">
            <img src="./assets/img/node.png" alt="Logo de Node.js" class="logos">
            <img src="./assets/img/express.webp" alt="Logo de mysql" class="logos">
            <img src="./assets/img/MySQL-logo.png" alt="Logo de mysql" class="logos">
            <img src="./assets/img/PHP-logo.svg.png" alt="Logo de mysql" class="logos">
            <img src="./assets/img/teclab.jfif" alt="Logo de mysql" class="logos">
        </div>
        <br>
        <h1>Welcome to our API! <%= ':)' %></h1>
        <br>
        <h5>
            <i>
                Developed by 
                <a href="">Diego</a>, 
                <a href="">Matias</a>, and 
                <a href="">Juan</a>.
                <br>
                DB by 
                <a href="">xxx</a>, 
                <a href="">xxx</a>, and 
                <a href="">xxx</a>.
            </i>
        </h5>
        <hr>
        <br>
        <p>
            This Aplication was created as an extracurricular project of 
            the subject "Web Integrations" of our career as 
            'programming technique' Teclab.
            <br><br>
            Special thanks to 
            <a href="https://www.linkedin.com/in/pmunizberrueta/">Pablo Muñiz</a> and 
            <a href="https://www.linkedin.com/in/rodrigozapataagustin/">Rodrigo Zapata,</a> who were our mentors.
        </p>
        <br>
        <blockquote class="alert">
            ⚠️ You will need an API-Key to use this API, for testing use = <code class="red">{url}?key=<b>jnasdn17436snaksdn</b></code> 
            or contact developers at <a href="">mail@mail.com</a> for a custom key.
        </blockquote>
        <br>
        <h4>Try this enpoints - methods:</h4>
        <br>
        <ul>
            <li>
                <h5>'/materias'</h5>
                <blockquote class="quoteCode">
                    <code>
                        there is code in here
                    </code>
                </blockquote>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id voluptatibus hic alias aliquid veritatis.
                </p>
                <ul>
                    <li>GET</li>
                    <li>POST</li>
                    <li>PUT</li>
                    <li>DELETE</li>
                </ul>
            </li>
            <li>
                <h5>'/profesores'</h5>
                <blockquote class="quoteCode">
                    <code>
                        there is code in here
                    </code>
                </blockquote>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id voluptatibus hic alias aliquid veritatis.
                </p>
                <ul>
                    <li>GET</li>
                    <li>POST</li>
                    <li>PUT</li>
                    <li>DELETE</li>
                </ul>
            </li>
            <li>
                <h5>'/alumnos'</h5>
                <blockquote class="quoteCode">
                    <code>
                        there is code in here
                    </code>
                </blockquote>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id voluptatibus hic alias aliquid veritatis.
                </p>
                <ul>
                    <li>GET</li>
                    <li>POST</li>
                    <li>PUT</li>
                    <li>DELETE</li>
                </ul>
            </li>
            <li>
                <h5>'/notas'</h5>
                <blockquote class="quoteCode">
                    <code>
                        there is code in here
                    </code>
                </blockquote>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id voluptatibus hic alias aliquid veritatis.
                </p>
                <ul>
                    <li>GET</li>
                    <li>POST</li>
                    <li>PUT</li>
                    <li>DELETE</li>
                </ul>
            </li>
        </ul>
    </main>
    <footer>
        <div>
            <p>
                This is the end, thank you for reading :)
            </p>
        </div>
    </footer>
</body>
</html>