<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/index.css">
    <title>API Shellbyville</title>
</head>
<body>
    <main>
        <%- include('partials/nav')%>
        <h1><%= '!Bienvenidos a nuestra API!' %></h1>
        <br>
        <h5>
            <a href="https://github.com/d3vh4n5/APIGrupalTeclab" class="github"><i class="fa-brands fa-github"></i></a>
            <br>
            <br>
            <i>
                Desarrollada por: 
                <a href="">Diego Torres</a>, 
                <a href="https://www.linkedin.com/in/matias-ezequiel-lucero/">Matias Lucero</a> and 
                <a href="https://www.linkedin.com/in/juanangelbasgall/">Juan Basgall</a>.
                <br>
                Base de datos por:
                <a href="">Gustavo</a> and 
                <a href="">Mateo</a>.
                <br>
            </i>
        </h5>
        <hr>
        <br>
        <p>
            Esta API fue creada como un proyecto extracurricular de la materia "Integraciones Web" 
            de nuestra Tecnicatura Superior en Programación en el instituto Teclab.
        </p>
        <p>
            El mismo consistía de la integración de 3 grupos: el de front-end, el de back-end y 
            el de Base de Datos. A cada grupo se le asignaba un Trello con actividades 
            específicas de su área, donde finalmente, deberían juntarse para "integrar" 
            sus trabajos.
        </p>
        <blockquote class="alert">
            ⚠️ Será necesaria una API-Key para el uso de la api. En principo, para uso general, hemos habilitado 
            la seguiente clave: <code class="red">{url}?key=<b>jnasdn17436snaksdn</b></code> .
            Aunque para agilizar el desarrollo, puede ser que la necesidad de API-Key  directamente esté desactivada.
        </blockquote>
        <h2>Planteamiento general de la integración entre datos y equipos:</h2>
        <img src="./assets/img/api.png" alt="Estructura de conexiones de la api" class="api">
        <p>
            Pueden verlo mas detallado en <a href="https://whimsical.com/organizando-api-shelbyville-9qiT1U5r8z5m3EpqEx8vii" target="_blank">Whimsical</a>.
        </p>
    </main>
    .
</body>
</html>